.video-cover-container {
    /* display: grid;
    grid-template-columns: repeat(1, minmax(140px, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem; */

    display: flex;
    flex-flow : row wrap;
    align-items: center;
    justify-items: center;
    gap : 1rem;
}
/* @media screen and (min-device-width : 455px) {



    .video-cover-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        gap: 1rem;
        margin-bottom: 1rem;
    }
}
 @media screen and (min-device-width : 768px) {
     


     .video-cover-container {
        display: grid;
            grid-template-columns: repeat(3, minmax(150px, 1fr));
            gap : 1rem;
         margin-bottom: 1rem;
     }
 } */