/* .video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
} */
.video-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
}
/* 
@media screen and (min-device-width : 455px) and (max-device-width : 767px) {



    .video-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        gap: 1rem;
        margin-bottom: 1rem;
    }
}
 */
@media screen and (min-device-width : 768px) {



    /* .video-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 1rem;
        margin-bottom: 1rem;
    } */
    
} 